.body__icons {
  color: blueviolet;
}
.backlog__remover {
  background-color: blueviolet !important;
}

.backlog__remover {
  color: white !important;
}

.body__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  font-weight: 400;
}

.body__tool {
  background-color: #e0e0e0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  margin: 10px;
  border-radius: 2px;
  color: #616161;
}

.body__tool > * {
  margin: 10px 3px;
}

.toolbar {
  height: 15%;
}

.body__syllabus {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: -200px;
}

.body__syllabus :first-child {
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  border-radius: 10px;
  font-weight: 500;
  opacity: 0.8;
}

.body__subject {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 100px;
}

.body__subject > h2 {
  background-color: #eeeeee;
  border-radius: 10px;
  color: gray;
  font-weight: 500;
  width: 300px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__chemistry {
  background-color: #673ab7 !important;
  color: white !important;
}

.body__footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 70px;
}

.body__footer h5 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #424242;
}

.body__chapterName {
  display: flex;
  align-items: center;
  background-color: #eeeeee;
  border-radius: 2px;
  padding: 10px;
}

.body__chapterName > * {
  margin: 5px;
  padding: 5px;

  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  background-color: #673ab7 !important;
}

.body__chapterNumber {
  display: flex;
  background-color: #eeeeee;
  border-radius: 2px;
  align-items: center;
  justify-content: space-evenly;
}

.body__square1,
.body__square2,
.body__square3,
.body__square6,
.body__square9,
.body__square10,
.body__square13,
.body__square15,
.body__square18 {
  width: 10px;
  height: 10px;
  background-color: indigo;
  border-radius: 2px;
  margin: 5px;
}

.body__square4,
.body__square5,
.body__square7,
.body__square8,
.body__square11,
.body__square12,
.body__square14,
.body__square16,
.body__square17 {
  width: 10px;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 2px;
  margin: 5px;
}

.body__chapterNumber h6 {
  display: flex;
  align-items: center;
  color: #9e9e9e;
  font-size: 15px;
}

.body__concepts,
.body__subconcepts {
  width: 300px;
  height: 195px;
  border-radius: 5px;
}

.body__concepts__elements,
.body__subconcepts__elements {
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 10px;
}

.body__concepts__elements > h6 {
  font-size: 14px;
  font-weight: 500;
  padding: 5px;
}
.body__subconcepts__elements > h6 {
  font-size: 14px;
  font-weight: 500;
  padding: 5px;
}

.body__dropdown {
  font-size: 30px !important;
  height: 40px !important;
}

.body__clear__done {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #eeeeee;
  color: #673ab7;
  padding: 10px;
}

.body__clear__done > * {
  margin-right: 60px;
  margin-top: 10px;
}

.body__clear {
  display: flex;
  align-items: center;
}

.body__clearIcon {
  font-size: 15px !important;
  color: black;
}

/*
  Extra
  small
  devices
  (phones, 600px and down)
  */
@media only screen and (max-width: 600px) {
  .body__syllabus {
    margin-left: 5px;
  }
  .body__subject {
    flex-wrap: wrap;
  }
  .body__subject > * {
    margin: 15px;
  }
  .body__footer {
    flex-wrap: wrap;
    margin-left: 20px;
  }

  .body__center {
    margin-top: 20px;
  }

  .body__chapterName {
    padding: 2px;
  }

  .body__chapterName > * {
    margin: 1px;
    padding: 2px;
  }
  .body__concepts,
  .body__subconcepts {
    margin-top: 20px;
    height: 100px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .body__syllabus {
    margin-left: -80px;
  }
  .body__subject {
    align-items: center;
    flex-wrap: wrap;
    margin: 40px;
  }
  .body__subject > * {
    margin: 20px;
  }
  .body__footer {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 60px;
  }

  .body__footer > * {
    margin: 40px;
  }

  .body__subject > h2 {
    width: 600px;
    height: 70px;
  }
  .body__chapterName {
    padding: 10px;
  }

  .body__concepts,
  .body__subconcepts {
    margin-top: 20px;
    height: 100px;
    width: 200px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .body__syllabus {
    margin-left: 160px;
  }
  .body__syllabus :first-child {
    padding: 15px 20px;
  }
  .body__subject {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 250px;
    margin-top: 30px;
  }
  .body__footer {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 180px;
  }
  .body__concepts,
  .body__subconcepts {
    margin-top: 20px;
    height: 100px;
    width: 350px;
    margin-left: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .body__syllabus {
    margin-left: 130px;
  }
  .body__syllabus :first-child {
    padding: 20px 80px;
  }
  .body__subject {
    flex-wrap: nowrap;
    margin-left: 320px;
  }
  .body__subject > h2 {
    padding: 20px 80px;
    margin: 5px;
  }
  .body__footer {
    margin-left: 0px;
    flex-wrap: wrap;
  }
  .body__chapterName {
    padding: 18px;
  }
  .body__concepts,
  .body__subconcepts {
    margin-top: 20px;
    height: 100px;
    width: 400px;
    margin-left: 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .body__syllabus {
    margin-left: -110px;
  }
  .body__subject {
    flex-wrap: nowrap;
    margin-left: 285px;
  }

  .body__footer {
    margin-left: 290px;
    flex-wrap: nowrap;
    width: 1200px;
  }
  .body__concepts,
  .body__subconcepts {
    margin-top: 20px;
    height: 100px;
    width: 280px;
  }
  .body__center,
  .body__right {
    margin-top: -100px;
  }
}
