.body {
  background-color: rgb(255, 153, 0);
  background-image: url("https://images.unsplash.com/photo-1518821703881-9da5a9f42038?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  flex: 1;
  display: flex;
  height: 100vh;
  overflow: scroll;
}

.body__left {
  width: 96.2%;
}
